body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table, th, td {
  border: 1px solid;
}

.date-range {
  display: flex;
  justify-content: space-between;
}

.date-label {
  display: flex;
  column-gap: 15px;
  white-space: nowrap;
  padding: 10px;
  margin-bottom: 10px;
  height: auto;
}

.date-label p {
  display: inline-block;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  position: relative;
}

.event-name {
  padding: 10px;
  padding-right: 0;
  opacity: 0.5;
  border-radius: 10px;
  margin-bottom: 10px;
}
.timeline-items-container {
  position: relative;
  margin-top: 20px;
  height: 200px; /* Give enough height for multiple timeline items */
}

.timeline-item {
  position: absolute;
  margin-bottom: 20px;
  width: fit-content;
}
.event-name p {
  margin: 0;
  padding: 0
}

.date-label p:last-child {
  margin-right: 0;
}